<div class="row">
  <div class="col-sm-6">
    <h2><%= @platform.name %></h2>
  </div>

  <% if user_created?(@platform)  %>
    <div class="col-sm-2">
      <a class="head button" href="/platforms/<%= @platform.slug %>/edit">Edit As Creator</a>
    </div>
  <% end %>
</div>

<% if @platform.description %>
  <div class="row">
    <div class="col-sm-2">
      <p class="title">Description:</p>
    </div>
    <div class="col-sm-10">
      <p><%= @platform.description %></p>
    </div>
  </div>
<% end %>

<% unless @programs.empty? %>
  <div class="row">
    <div class="col-sm-2">
      <p class="title">Programs:</p>
    </div>
    <div class="col-sm-10">
      <% @programs.each do |program| %>
        <span><a href="/programs/<%= program.slug %>"><%= program.name %></a></span>
        <span><%= "| " unless program == @programs.last %></span>
      <% end %>
    </div>
  </div>
<% end %>

<% unless @subjects.empty? %>
  <div class="row">
    <div class="col-sm-2">
      <p class="title">Subjects:</p>
    </div>
    <div class="col-sm-10">
      <% @subjects.each do |subject| %>
        <span><a href="/subjects/<%= subject.slug %>"><%= subject.name %></a></span>
        <span><%= "| " unless subject == @subjects.last %></span>
      <% end %>
    </div>
  </div>
<% end %>
