<h1><%= @platform.name %></h1>

<% if user_created?(@platform)  %>
  <div class="button"><a href="/platforms/<%= @platform.slug %>/edit">Edit Platform</a></div>
<% end %>

<% if @platform.description %>
  <p><strong>Description:</strong> <%= @platform.description %></p>
<% end %>

<p><strong>Programs:</strong> </p>
<ul>
  <% @platform.programs.each do |program| %>
    <li><a href="/programs/<%= program.slug %>"><%= program.name %></a></li>
  <% end %>
</ul>

<span><strong>Subjects:</strong> </span>
<% @platform.subjects.uniq.each do |subject| %>
  <span><a href="/subjects/<%= subject.slug %>"><%= subject.name %></a></span>
  <span><%= ", " unless subject == @platform.subjects.last %></span>
<% end %>
