<div class="row">
  <div class="col-sm-8">
    <h2>Edit <%= @program.name %></h2>
  </div>
  <div class="col-sm-2">
    <a class="head button" href="/programs/<%= @program.slug %>/delete">Delete Program</a>
  </div>
</div>

<form action="/programs/<%= @program.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH" id="hidden">

  <div class="row">
    <div class="col-sm-2">
      <label for="name">*Name:</label>
    </div>
    <div class="col-sm-4">
      <input type="text" name="program[name]" id="name" value="<%= @program.name %>" required>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label for="description">Description:</label>
    </div>
    <div class="col-sm-4">
      <input type="text" name="program[description]" id="description" value="<%= @program.description %>">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label for="certification">Certification:</label>
    </div>
    <div class="col-sm-2">
      <input type="text" name="program[certification]" id="certification" value="<%= @program.certification %>">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label for="cost">Cost:</label>
    </div>
    <div class="col-sm-2">
      <input type="text" name="program[cost]" id="cost" value="<%= @program.cost.round if @program.cost %>">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label for="affiliation">Affiliation:</label>
    </div>
    <div class="col-sm-2">
      <input type="text" name="program[affiliation]" id="affiliation" value="<%= @program.affiliation %>">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <h4>Platform:</h4>
    </div>
  </div>
  <div class="row">
    <% @platforms.each do |platform| %>
      <div class="col-sm-4">
        <input type="radio" name="program[platform_id]" value="<%= platform.id %>" id="<%= platform.name %>" <%= 'checked' if @program.platform == platform %>>
        <label for="<%= platform.name %>"><%= platform.name %></label>
      </div>
    <% end %>
  </div><br>

  <div class="row">
    <div class="col-sm-3">
      <h4>Courses:</h4>
    </div>
  </div>
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-sm-4">
        <input type="checkbox" name="program[course_ids][]" value="<%= course.id %>" id="<%= course.name %>" <%= 'checked' if @program.courses.include?(course) %>>
        <label for="<%= course.name %>"><%= course.name %></label>
      </div>
    <% end %>
  </div><br><br>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-5">
      <input class="form-button" type="submit" name="submit" value="Update Program">
    </div>
  </div>
</form>
