<div class="row">
  <h2 class="col-sm-12">Add a New Program</h2>
</div>

<form action="/programs" method="POST">
  <div class="row">
    <label class="col-sm-2" for="name">*Name: </label>
    <input class="col-sm-4" type="text" name="program[name]" id="name">
  </div>

  <div class="row">
    <label class="col-sm-2" for="description">Description: </label>
    <input class="col-sm-4" type="text" name="program[description]" id="description">
  </div>

  <div class="row">
    <label class="col-sm-2" for="certification">Certification: </label>
    <input class="col-sm-4" type="text" name="program[certification]" id="certification">
  </div>

  <div class="row">
    <label class="col-sm-2" for="cost">Cost: </label>
    <input class="col-sm-4" type="text" name="program[cost]" id="cost">
  </div>

  <div class="row">
    <label class="col-sm-2" for="affiliation">Affiliation: </label>
    <input class="col-sm-4" type="text" name="program[affiliation]" id="affiliation">
  </div>

  <div class="row">
    <h4 class="col-sm-3">Platform: </h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <% @platforms.each do |platform| %>
        <input type="radio" name="platform_id" value="<%= platform.id %>" id="<%= platform.name %>">
          <%= platform.name %>
        </input>
      <% end %><br>
      <input type="radio" name="platform_id" value="" id="">
        Add New Platform
      </input>
      <input type="text" name="platform_name" id="platform_name">
    </div>
  </div>
  
  <div class="row">
    <h4 class="col-sm-3">Courses: </h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <% @courses.each do |course| %>
        <input type="checkbox" name="program[course_ids][]" value="<%= course.id %>" id="<%= course.name %>">
          <%= course.name %>
        </input>
      <% end %><br><br>
    </div>
  </div>
  <div class="row">
    <input class="form-button col-sm-2 col-sm-offset-5" type="submit" name="submit" value="Create Program">
  </div>

</form>
