<div class="row">
  <h2 class="col-sm-6"><%= @program.name %></h2>

  <% if user_created?(@program)  %>
    <div class="head button col-sm-2"><a href="/programs/<%= @program.slug %>/edit">Edit As Creator</a></div>
  <% end %>

  <% if @program.courses.any? {|c| @user.courses.include?(c)} %>
    <div class="head button col-sm-2"><a href="/programs/<%= @program.slug %>/leave">Leave All Joined</a></div>
  <% end %>
  <% unless @program.courses.all? {|c| @user.courses.include?(c)} %>
    <div class="head button col-sm-2"><a href="/programs/<%= @program.slug %>/join">Join All Open</a></div>
  <% end %>
</div>

<% if @program.description %>
  <div class="row">
    <p class="col-sm-2"><strong>Description:</strong></p>
    <p class="col-sm-10"><%= @program.description %></p>
  </div>
<% end %>

<% if program_length = @program.length %>
  <div class="row">
    <p class="col-sm-2"><strong>Program Length: </strong></p>
    <p class="col-sm-10"><%= program_length.round %> hours</p>
  </div>
<% end %>

<% if @program.certification %>
  <div class="row">
    <p class="col-sm-2"><strong>Certification:</strong></p>
    <p class="col-sm-10"><%= @program.certification %></p>
  </div>
<% end %>

<% if @program.cost %>
  <div class="row">
    <p class="col-sm-2"><strong>Cost:</strong></p>
    <p class="col-sm-10">$<%= @program.cost %></p>
  </div>
<% end %>

<% if @program.affiliation %>
  <div class="row">
    <p class="col-sm-2"><strong>Affiliation:</strong></p>
    <p class="col-sm-10"><%= @program.affiliation %></p>
  </div>
<% end %>

<% unless @program.courses.empty? %>
  <div class="row">
    <p class="col-sm-2"><strong>Courses: </strong></p>
  </div>
  <ul>
    <% @program.courses.each do |course| %>
      <div class="row">
        <li class="col-sm-offset-2 col-sm-10">
          <a href="/courses/<%= course.slug %>"><%= course.name %></a>
        </li>
      </div>
    <% end %>
  </ul>
<% end %>

<% if @program.platform.name != "Unassigned" %>
  <div class="row">
    <p class="col-sm-2"><strong>Platform: </strong></p>
    <p class="col-sm-10"><a href="/platforms/<%= @program.platform.slug %>"><%= @program.platform.name %></a></p>
  </div>
<% end %>

<% unless @program.subjects.empty? %>
  <div class="row">
    <p class="col-sm-2"><strong>Subjects: </strong></p>
    <div class="col-sm-10">
      <% @program.subjects.uniq.each do |subject| %>
        <span><a href="/subjects/<%= subject.slug %>"><%= subject.name %></a></span>
        <span><%= "| " unless subject == @program.subjects.last %></span>
      <% end %>
    </div>
  </div>
<% end %>

<% if @user.programs.include?(@program) %>
  <div class="row">
    <h2 class="col-sm-3">My Info</h2>
  </div>
  <% if first_course = UserCourse.find_on_join(@user, @program.courses.first) %>
    <div class="row">
      <p class="col-sm-2"><strong>Start Date:</strong> </p>
      <p class="col-sm-10"><%= first_course.start_date.strftime("%F") %></p>
    </div>
  <% end %>
  <% if last_finish = UserCourse.find_on_join(@user, @program.courses.last).end_date %>
    <div class="row">
      <p class="col-sm-2"><strong>End Date:</strong> </p>
      <p class="col-sm-10"><%= last_finish.strftime("%F") %></p>
    </div>
  <% end %>
  <div class="row">
    <p class="col-sm-2"><strong>Progress: </strong></p>
    <p class="col-sm-10"><%= @user.program_progress_percentage(@program) %></p>
  </div>
<% end %>
