<h1><%= @program.name %></h1>

<% if user_created?(@program)  %>
  <div class="button"><a href="/programs/<%= @program.slug %>/edit">Edit Program</a></div>
<% end %>
<div class="button"><a href="/programs/<%= @program.slug %>/leave">Leave Program</a></div>
<div class="button"><a href="/programs/<%= @program.slug %>/join">Join Program</a></div>

<h2>Program Info</h2>
<% if @program.description %>
  <p><strong>Description:</strong> <%= @program.description %></p>
<% end %>

<% if program_length = @program.length %>
  <p><strong>Program Length:</strong> <%= program_length %></p>
<% end %>

<span><strong>Courses:</strong> </span>
<ul>
  <% @program.courses.each do |course| %>
    <li><a href="/courses/<%= course.slug %>"><%= course.name %></a></li>
  <% end %>
</ul>

<span><strong>Subjects:</strong> </span>
<% @program.subjects.uniq.each do |subject| %>
  <span><a href="/subjects/<%= subject.slug %>"><%= subject.name %></a></span>
  <span><%= ", " unless subject == @program.subjects.last %></span>
<% end %>

<h2>My Info</h2>
<p><strong>Start Date:</strong> </p>
<p><strong>End Date:</strong> </p>
<p><strong>Progress:</strong> </p>
