<div class="row">
  <div class="col-sm-5">
    <h2><%= @user.username %></h2>
  </div>
</div>

<form action="/users" method="POST">
  <input type="hidden" name="_method" value="PATCH" id="hidden">

  <% @programs.each do |program| %>
    <div class="row">
      <div class="col-sm-9">
        <a class="homepage" href="/programs/<%= program.slug %>"><h4><%= program.name %></h4></a>
      </div>
      <div class="col-sm-2">
        <p class="hours-of program title"><%= UserCourse.program_progress_formatted(@user, program) %></p>
      </div>
      <div class="col-sm-1">
        <p class="program title"><%= UserCourse.program_progress_percentage(@user, program) %></p>
      </div>
    </div>

    <% program.courses.each do |course| %>
      <% if @courses.include?(course) %>
        <div class="row">
          <div class="col-sm-9">
            <a class="homepage" href="/courses/<%= course.slug %>"><%= course.name %></a>
          </div>
          <% @user_course = UserCourse.find_on_join(@user, course) %>
          <% if course.get_length %>
            <div class="col-sm-1">
              <input class="hours-of progress" type="text" name="course_ids[<%= course.id %>]">
            </div>
            <div class="course col-sm-1">
              <p class="hours-of"><%= @user_course.get_progress_formatted %></p>
            </div>
            <div class="course col-sm-1">
              <p><%= @user_course.get_progress_percent %>%</p><br>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %><br>
  <% end %>

  <div class="row">
    <% if @courses.empty? %>
      <div class="col-sm-6">
        <p>Get started by adding <a href="/courses">courses</a> or <a href="/programs">programs</a> now.</p>
      </div>
    <% else %>
      <div class="col-sm-offset-9 col-sm-3">
        <input class="update form-button" type="submit" name="submit" value="Add Progress">
      </div>
    <% end %>
  </div>
</form><br>

<div class="row">
  <div class="col-sm-2">
    <a class="logout button" href="/users/logout">Logout</a>
  </div>
</div>
