<div class="row">
  <h2 class="col-sm-5"><%= @user.username %></h2>
</div>

<form action="/users" method="POST">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  <% @programs.each do |program| %>
    <div class="row">
      <a class="col-sm-9" href="/programs/<%= program.slug %>"><h4><%= program.name %></h4></a>
      <p class="program col-sm-2"> <strong><%= @user.program_progress_formatted(program) %></strong></p>
      <p class="progress program col-sm-1"> <strong><%= @user.program_progress(program) %></strong>%</p>
    </div>

    <% program.courses.each do |course| %>
      <% if @user.courses.include?(course) %>
        <div class="row">
          <a class="col-sm-8" href="/courses/<%= course.slug %>"><%= course.name %></a>
          <% @user_course = UserCourse.find_on_join(@user, course) %>
          <% unless course.length_in_hours.nil? %>
            <input class="progress col-sm-1" type="text" name="course_ids[<%= course.id %>]">
            <p class="col-sm-2"><%= @user_course.hours_of_total %></p>
            <p class="progress col-sm-1"><%= (@user_course.progress_in_hours / course.length_in_hours * 100).round %>%</p><br>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <br>
  <% end %>
  <div class="row">
    <% if @courses.empty? %>
      <p class="col-sm-6">Get started by adding <a href="/courses">courses</a> or <a href="/programs">programs</a> now.</p>
    <% else %>
      <input class="form-button col-sm-offset-8 col-sm-2" type="submit" name="submit" value="Add Progress">
    <% end %>
  </div>
  </form><br>
<div class="row">
  <div class="logout button col-sm-2"><a href="/users/logout">Logout</a></div>
</div>
