<h1><%= @subject.name %></h1>

<% if user_created?(@subject)  %>
  <div class="button"><a href="/subjects/<%= @subject.slug %>/edit">Edit Subject</a></div>
<% end %>

<% if @subject.description %>
  <p>Description: <%= @subject.description %></p>
<% end %>

<span><strong>Courses:</strong> </span>
<% @subject.courses.each do |course| %>
  <span><a href="/courses/<%= course.slug %>"><%= course.name %></a></span>
  <span><%= ", " unless course == @subject.courses.last %></span>
<% end %><br>

<span><strong>Programs:</strong> </span>
<% @subject.programs.uniq.each do |program| %>
  <span><a href="/programs/<%= program.slug %>"><%= program.name %></a></span>
  <span><%= ", " unless program == @subject.programs.last %></span>
<% end %><br>

<span><strong>Platforms:</strong> </span>
<% @subject.platforms.uniq.each do |platform| %>
  <span><a href="/platforms/<%= platform.slug %>"><%= platform.name %></a></span>
  <span><%= ", " unless platform == @subject.platforms.last %></span>
<% end %>
