<div class="row">
  <h2 class="col-sm-12">Edit <%= @course.name %></h2>
</div>

<form action="/courses/<%= @course.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  <div class="row">
    <label class="col-sm-2" for="name">*Name: </label>
    <input class="col-sm-4" type="text" name="course[name]" id="name" value="<%= @course.name %>">
  </div>

  <div class="row">
    <label class="col-sm-2" for="description">Description: </label>
    <input class="col-sm-4" type="text" name="course[description]" id="description" value="<%= @course.description %>">
  </div>

  <div class="row">
    <label class="col-sm-2" for="length_in_hours">Course Length: </label>
    <input class="col-sm-1" type="text" name="course[length_in_hours]" id="length_in_hours" value="<%= @course.length_in_hours %>">
    <p class="col-sm-1">Hours</p>
  </div>

  <div class="row">
    <h4 class="col-sm-3">Program: </h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
    <% @programs.each do |program| %>
      <input type="radio" name="program_id" value="<%= program.id %>" id="<%= program.name %>" <%= 'checked' if @course.program == program %>>
        <%= program.name %>
      </input>
    <% end %>
    </div>
  </div><br>


  <div class="row">
    <h4 class="col-sm-3">Subjects: </h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <% @subjects.each do |subject| %>
        <input type="checkbox" name="course[subject_ids][]" value="<%= subject.id %>" id="<%= subject.name %>" <%= 'checked' if @course.subjects.include?(subject) %>>
          <%= subject.name %>
        </input>
      <% end %><br><br>
    </div>
  </div>
  <div class="row">
    <input class="form-button col-sm-2 col-sm-offset-5" type="submit" name="submit" value="Edit Course">
  </div>
</form>
