<div class="row">
  <div class="col-sm-12">
    <h2>Add a New Course</h2>
  </div>
</div>

<form action="/courses" method="POST">

  <div class="row">
    <div class="col-sm-2">
      <label for="name">*Name:</label>
    </div>
    <div class="col-sm-5">
      <input type="text" name="course[name]" id="name" required>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label for="description">Description:</label>
    </div>
    <div class="col-sm-5">
      <input type="text" name="course[description]" id="description">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label for="length_in_hours">Course Length:</label>
    </div>
    <div class="col-sm-1">
      <input type="text" name="course[length_in_hours]" id="length_in_hours">
    </div>
    <div class="col-sm-1">
      <p>hours</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <h4>Program:</h4>
    </div>
  </div>
  <div class="row">
    <% @programs.each do |program| %>
      <div class="col-sm-4">
        <input type="radio" name="program_id" value="<%= program.id %>" id="<%= program.name %>">
        <label for="<%= program.name %>"><%= program.name %></label>
      </div>
    <% end %>
    <div class="col-sm-4">
      <input type="radio" name="program_id" value="" id="">
      <label for="program_name">New Program Name:</label>
      <input type="text" name="program_name" id="program_name">
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-3">
      <h4>Subjects:</h4>
    </div>
  </div>
  <div class="row">
    <% @subjects.each do |subject| %>
      <div class="col-sm-3">
        <input type="checkbox" name="course[subject_ids][]" value="<%= subject.id %>" id="<%= subject.name %>">
        <label for="<%= subject.name %>"><%= subject.name %></label>
      </div>
    <% end %>
    <div class="col-sm-3">
      <input type="checkbox" name="subject_id" value="" id="">
      <label for="subject_name">New Subject Name:</label>
      <input type="text" name="subject_name" id="subject_name">
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-5">
      <input class="form-button" type="submit" name="submit" value="Create Course">
    </div>
  </div>
</form>
