<h1><%= @course.name %></h1>

<% if user_created?(@course)  %>
  <div class="button"><a href="/courses/<%= @course.slug %>/edit">Edit Course</a></div>
<% elsif current_user.courses.include?(@course) %>
  <div class="button"><a href="/courses/<%= @course.slug %>/leave">Leave Course</a></div>
<% else %>
  <div class="button"><a href="/courses/<%= @course.slug %>/join">Join Course</a></div>
<% end %>

<h3>Course Info</h3>
<% if @course.description %>
  <p>Description: <%= @course.description %></p>
<% end %>

<% if @course.length_in_hours %>
  <p>Course Length: <%= @course.length_in_hours %> hours</p>
<% end %>

<% if @course.program.name != "Individual Courses" %>
  <p>Program: <a href="/programs/<%= @course.program.slug %>"><%= @course.program.name %></a></p>
  <p>Platform: <%= @course.platform.name %></p>
<% end %>

<p>Subjects: <%= @course.subjects.map {|s| s.name}.join(", ") %></p>

<% if current_user.courses.include?(@course) %>
  <h3>My Info</h3>
  <p>Start Date: <%= @user_course.start_date.month %>-<%= @user_course.start_date.day %>-<%= @user_course.start_date.year %></p>
  <% if @course.length_in_hours == @user_course.progress_in_hours %>
    <p>End Date: <%= @user_course.end_date.month %>-<%= @user_course.end_date.day %>-<%= @user_course.end_date.year %></p>
  <% end %>
  <% unless @course.length_in_hours.nil? %>
    <p>Progress: <%= @user_course.progress_in_hours %></p>
  <% end %>
<% end %>
