<div class="row">
  <div class="col-sm-8">
    <h2><%= @course.name %></h2>
  </div>

  <% if user_created?(@course)  %>
    <div class="col-sm-2">
      <a class='head button' href="/courses/<%= @course.slug %>/edit">Edit As Creator</a>
    </div>
  <% end %>

  <% if current_user.courses.include?(@course) %>
    <div class="col-sm-2">
      <a class="head button" href="/courses/<%= @course.slug %>/leave">Leave Course</a>
    </div>
  <% else %>
    <div class="col-sm-2">
      <a class="head button" href="/courses/<%= @course.slug %>/join">Join Course</a>
    </div>
  <% end %>
</div>

<% if @course.description %>
  <div class="row">
    <div class="col-sm-2">
      <p class="title">Description:</p>
    </div>
    <div class="col-sm-10">
      <p><%= @course.description %></p>
    </div>
  </div>
<% end %>

<% if @length %>
  <div class="row">
    <div class="col-sm-2">
      <p class="title">Course Length:</p>
    </div>
    <div class="col-sm-10">
      <p><%= @length.round %> hours</p>
    </div>
  </div>
<% end %>

<% if @program %>
  <div class="row">
    <div class="col-sm-2">
      <p class="title">Program:</p>
    </div>
    <div class="col-sm-10">
      <a href="/programs/<%= @program.slug %>"><%= @program.name %></a>
    </div>
  </div>
<% end %>

<% if @platform %>
  <div class="row">
    <div class="col-sm-2">
      <p class="title">Platform:</p>
    </div>
    <div class="col-sm-10">
      <a href="/platforms/<%= @platform.slug %>"><%= @platform.name %></a>
    </div>
  </div>
<% end %>

<% unless @subjects.empty? %>
  <div class="row">
    <div class="col-sm-2">
      <p class="title">Subjects:</p>
    </div>
    <div class="col-sm-10">
      <% @course.subjects.each do |subject| %>
        <span><a href="/subjects/<%= subject.slug %>"><%= subject.name %></a></span>
        <span><%= "| " unless subject == @subjects.last %></span>
      <% end %>
    </div>
  </div>
<% end %>

<% if @user_course %>
  <div class="row">
    <div class="col-sm-3">
      <h3>My Info</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <p class="title">Start Date:</p>
    </div>
    <div class="col-sm-10">
      <p><%= @user_course.start_date.strftime("%F") %></p>
    </div>
  </div>
  <% unless @user_course.end_date.nil? %>
    <div class="row">
      <div class="col-sm-2">
        <p class="title">End Date:</p>
      </div>
      <div class="col-sm-10">
        <p><%= @user_course.end_date.strftime("%F") %></p>
      </div>
    </div>
  <% end %>
  <% if @length %>
    <div class="row">
      <div class="col-sm-2">
        <p class="title">Progress:</p>
      </div>
      <div class="col-sm-10">
        <p><%= @user_course.get_progress_percent %>%</p>
      </div>
    </div>
  <% end %>
<% end %>
