<h1><%= @course.name %></h1>
<h3>Course Info</h3>
<% if @course.description %>
  <p>Description: <%= @course.description %></p>
<% end %>

<% if @course.length_in_hours %>
  <p>Course Length: <%= @course.length_in_hours %> hours</p>
<% end %>

<% if @course.program.name != "Individual Courses" %>
  <p>Program: <%= @course.program.name %></p>
  <p>Platform: <%= @course.platform.name %></p>
<% end %>
<p>Subjects:</p>
<p><%= @course.subjects.map {|s| s.name}.join(", ") %></p>

<h3>My Info</h3>
<p>Start Date: </p>
<p>End Date: </p>
<p>Progress: </p>
<p>Note: </p>

<a href="/users/homepage">My Homepage</a>
