<div class="row">
  <h2 class="col-sm-8"><%= @course.name %></h2>

  <% if user_created?(@course)  %>
    <div class="head button col-sm-2"><a href="/courses/<%= @course.slug %>/edit">Edit As Creator</a></div>
  <% end %>

  <% if current_user.courses.include?(@course) %>
    <div class="head button col-sm-2"><a href="/courses/<%= @course.slug %>/leave">Leave Course</a></div>
  <% else %>
    <div class="head button col-sm-2"><a href="/courses/<%= @course.slug %>/join">Join Course</a></div>
  <% end %>
</div>

<% if @course.description %>
  <div class="row">
    <p class="col-sm-2"><strong>Description:</strong></p>
    <p class="col-sm-10"><%= @course.description %></p>
  </div>
<% end %>

<% if @course.length_in_hours && @course.length_in_hours != 0 %>
  <div class="row">
    <p class="col-sm-2"><strong>Course Length:</strong></p>
    <p class="col-sm-10"><%= @course.length_in_hours.round %> hours</p>
  </div>
<% end %>

<% if @course.program.name != "Individual Courses" %>
  <div class="row">
    <p class="col-sm-2"><strong>Program: </strong></p>
    <p class="col-sm-10"><a href="/programs/<%= @course.program.slug %>"><%= @course.program.name %></a></p>
  </div>
<% end %>

<% if @course.platform.name!= "Unassigned" %>
  <div class="row">
    <p class="col-sm-2"><strong>Platform: </strong></p>
    <p class="col-sm-10"><a href="/platforms/<%= @course.platform.slug %>"><%= @course.platform.name %></a></p>
  </div>
<% end %>

<% unless @course.subjects.empty? %>
<div class="row">
  <p class="col-sm-2"><strong>Subjects: </strong></p>
  <div class="col-sm-10">
    <% @course.subjects.each do |subject| %>
      <span><a href="/subjects/<%= subject.slug %>"><%= subject.name %></a></span>
      <span><%= "| " unless subject == @course.subjects.last %></span>
    <% end %>
  </div>
</div>
<% end %>

<% if @user.courses.include?(@course) %>
  <div class="row">
    <h2 class="col-sm-2">My Info</h2>
  </div>

  <div class="row">
    <p class="col-sm-2"><strong>Start Date:</strong> </p>
    <p class="col-sm-10"><%= @user_course.start_date.strftime("%F") %></p>
  </div>
  <% unless @user_course.end_date.nil? %>
    <div class="row">
      <p class="col-sm-2"><strong>End Date:</strong> </p>
      <p class="col-sm-10"><%= @user_course.end_date.strftime("%F") %></p>
    </div>
  <% end %>
  <% unless @course.length_in_hours.nil? || @course.length_in_hours == 0 %>
    <div class="row">
      <p class="col-sm-2"><strong>Progress: </strong> </p>
      <p class="col-sm-10"><%= @user_course.get_progress_percent %>%</p>
    </div>
  <% end %>
<% end %>
