<div class="row">
  <div class="col-sm-4">
    <h2><%= @name.capitalize %> Index</h2>
  </div>
  <div class="col-sm-3">
    <a class="head button" href="/<%= @name %>s/new">Create New <%= @name.capitalize %></a>
  </div>
</div>

<% @topics.each do |topic| %>
  <div class="row">
    <div class="col-sm-6">
      <a href="/<%= @name %>s/<%= topic.slug %>"><%= topic.name %></a>
    </div>
  </div>
<% end %>
