<div class="row">
  <h1 class="col-sm-8"><%= @topic.name %></h1>

  <% if user_created?(@topic)  %>
    <div class="create button col-sm-2">
      <a href="/<%= @name %>s/<%= @topic.slug %>/edit">Edit <%= @name %></a>
    </div>
  <% end %>

  <% if @user.courses.include?(@topic) %>
    <div class="create button col-sm-2"><a href="/courses/<%= @topic.slug %>/leave">Leave Course</a></div>
  <% else %>
    <div class="create button col-sm-2"><a href="/courses/<%= @topic.slug %>/join">Join Course</a></div>
  <% end %>
</div>

<% if @topic.description %>
  <div class="row">
    <p class="col-sm-2"><strong>Description:</strong></p>
    <p class="col-sm-10"><%= @topic.description %></p>
  </div>
<% end %>
